table {
  width: 66vw;
  text-align: center;
  margin-top: 25px;
}


.pink:hover {
  background: lightpink;
}

table th {
  width: 66vw;
  padding-bottom: 10px;
}

table td {
  height: 50px;
  padding-bottom: 5px;
}

.fcc-logo {
  margin-top: 50px;
  opacity: 0.075;
  z-index: -50;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: #006400;
  z-index: 50;
}

.nav-item {
  color: white;
  font-family: 'saxmono', arial;
  line-height: 50px;
}

.nav-item:hover {
  cursor: pointer;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  position: absolute;
  margin-top: 60px;
}

.userpic img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 8px;
}
