table {
  width: 66vw;
  text-align: center;
  margin-top: 25px;
}

table th {
  width: 66vw;
  padding-bottom: 10px;
}

table td {
  padding-bottom: 5px;
}

img {
  margin-top: 50px;
  opacity: 0.075;
  z-index: -50;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: #006400;
}

.nav-item {
  color: white;
  font-family: 'saxmono', arial;
  line-height: 50px;
}

.nav-item:hover {
  cursor: pointer;
}

.table-container{
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
}

.user-table {
  position: absolute;
}
